body{
    margin: 0px;
    padding: 0px;
}
#main{
    width: 100%;
    height: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    
}
#slider{
    width: 100%;
    height: 500px;
}
#left, #right{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}
#left{
    top: 250px;
    left:10px;
    position: absolute;
}
#right {
    right: 10px;
    position: absolute;
    top: 250px;
    
}
#left:hover, #right:hover {
    background-color: rgba(0,0,0,0.8);
}
#offer_tag{
    width: 95%;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}
#offer_tag img{
    width: 450px;
    height: 100%;
}
h1{
    text-align: center;
    font-family: Tiemann,serif;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1;
    text-transform: uppercase;
}
#cat{
    width: 95%;
    margin: auto;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(5,1fr);
}
#cat div{
    text-align: center;
}
#cat img, #new_arrivals img, #trending_now img{

    width: 60%;
    height: 50%;
}



#cat p{
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .2em;
}
#new_arrivals,#trending_now{
    width: 100%;
    margin: auto;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(5,1fr);
}
#new_arrivals div, #trending_now div{
    text-align: center;

}
#new_arrivals div:hover .quick_view, #trending_now div:hover .quick_view{
   background-color: black;

}

#new_arrivals p, #trending_now p{
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .2em;
}
.quick_view{
    margin: auto;
    color: white;
    background-color: white;
    font-size: .8em;
    letter-spacing: .1em;
    width: 60%;
    padding: 10px;
    display: block;
    border: 0px;
}



#container{  
    text-align: center;  
     
    width: 100%;  
     
    padding-bottom: 15px;
}
button{
    border: 1px black solid;
    background-color: white;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .2em;
    padding: 10px;
}
.offer{
    position: relative;
    text-align: center;
    color: white;
}
.one{
    position: absolute;
    bottom: 48%;
    left: 22%;
    font-size: 1.3rem;
    font-weight: bold;
    font-weight: 500;
}
.two{
    position: absolute;
    bottom: 40%;
    left: 30%;
    font-size: 2rem;
    font-weight: bold;
    font-weight: 500;
}
.three{
    position: absolute;
    bottom: 34%;
    left: 7%;
    font-size: 1.1rem;
    font-weight: 500;}
.btn{
    position: absolute;
    bottom: 25%;
    left: 30%;
    font-size: 0.9rem;
    border: 0px;
}