header{
    
    overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar{
    display: flex;
    width: 100%;
    /* height: auto; */
    margin-top: 20px;
    
} 
#nav1{
    display: flex;
    
}
#nav1>a{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 550px;
    width: 30%;
    height: 35px;
    cursor: pointer;
    
}
#search{
    display: flex;
   
    margin-left: 100px;
}
#search a{
 text-decoration: none;
}
#search a i{
    color: #000;
}
#srch{
    width: 80%;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    border: none;
    outline: none;
    background: rgb(252, 251, 251);
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    /* cursor: pointer; */
}
#submit{
  width: 50px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  position: absolute;
  background: rgb(243, 240, 240);
  transform: scale(0.9);
  
  
}
#list{
    width: 100%;
    height: auto;
    
}
#user{
    width: 30px;
    height: 33px;
    margin-top: 22px;
    margin-left: 80px;
    cursor: pointer;
}
#bag{
    width: 30px;
    height: 35px;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
}
#list>ul{
    gap: 40px;
    display: flex;
    margin: auto;
    font-size: 15px;
    letter-spacing: 0.1em;
    justify-content: space-evenly;
    margin-right: 30px;
}
#list>ul>li{
    list-style: none;
    cursor: pointer;
}
#list>ul>li{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}
#list>ul>li>a{
    color: black;
}
#list>ul>li>a:hover{
    text-decoration: none;
    /* border-bottom: 2px solid black; */
}
#clear:hover{
    text-decoration: none;
    border-bottom: 2px solid black;
}
#footer{
    width: 100%;
    height: 600px;
    /* border: 5px solid red; */
    
}
#shop{
   
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top:300px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    

}
#denim{
     
    text-align: center;
    /* justify-content: center; */
}
#jumpsuits{
    text-align: center;
    margin-top: 20px;
}
#acces{
    text-align: center;
    margin-top: 0px;
}
#acces>h4{
    margin-left: 20px;
}
#btn{
    padding: 10px;
    font-family: Futura,sans-serif;
    color: #000;
    border: 1px solid #e8e8e1;
    background-color: transparent;
    letter-spacing: 2px;
}


    /* background-color: rgb(228, 227, 227); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: rgb(228, 227, 227);
}
.container{
    width: 1170px;
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    
}
.footer-col{
    width: 25%;
    padding: 15px 0px;
    line-height: 28px;
}
.footer-col:nth-child(2){
    margin-top: 90px;
    width: 20%;
    margin-right: 50px;
    line-height: 28px;
}
.footer-col h4{
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 20px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}
.footer-col p{
    font-size: 17px;
    width: 150%;
    text-transform: capitalize;
    
}
.footer-col input{
    width: 320px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    
}

.btn-sub button{
    width: 320px;
    height: 50px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.footer-col .social-links a{
    display: inline-block;
   
}
#insta{
    color: #000;
    width: 40px;
    height: 30px;
    margin-top: 20px;
}
#fb{
    color: #000;
    width: 40px;
    height: 25px;
    margin-top: 15px;
}
.footer-bluefly img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 100px;
 margin-top: 30px;
}
.copyright{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}